In [99]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack
import pandas as pd
import numpy as np

In [100]:
data = pd.read_csv('salary.csv')
data_test = pd.read_csv('salary_test.csv')

In [101]:
data_test.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [102]:
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)
data['LocationNormalized'] =  data['LocationNormalized'].str.lower()
data['ContractTime'] = data['ContractTime'].str.lower()
data['FullDescription'] = data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)
data_test['LocationNormalized'] =  data_test['LocationNormalized'].str.lower()
data_test['ContractTime'] = data_test['ContractTime'].str.lower()
data_test['FullDescription'] = data_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [109]:
enc_tfid = TfidfVectorizer(min_df = 5)
data_vectorized = enc_tfid.fit_transform(data['FullDescription'])
data_test_vectorized = enc_tfid.transform(data_test['FullDescription'])

In [110]:
enc_dict = DictVectorizer()
X_train_categ = enc_dict.fit_transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc_dict.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [111]:
train_data = hstack([data_vectorized, X_train_categ])
test_data = hstack([data_test_vectorized, X_test_categ])

In [112]:
clf = Ridge(alpha=1.0, random_state=241)
clf.fit(train_data, data['SalaryNormalized'])

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=241, solver='auto', tol=0.001)

In [113]:
clf.predict(test_data)

array([56555.61500155, 37188.32442618])